body{
    font-family: "Indie Flower", cursive;
    font-weight: 100;
    font-style: normal;
    color: #1c1c1c;
    background-color: #111111;
}

.container{
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    /*grid-row-gap: 18px;*/
    margin-bottom: 28px;
}
/*
.container-flex{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}*/

.width-2{grid-column: span 2;}
.width-3{grid-column: span 3;}
.width-4{grid-column: span 4;}
.width-5{grid-column: span 5;}
.width-6{grid-column: span 6;}

.rounded{
    border-radius: 6px;
}

.links{
    display: flex;
    gap: 150px;
    justify-content: center;
    margin-bottom: 20px;
}

.button{
    display: flex;
    background: url('../images/paper.jpg');
    background-size: cover;
    padding: 18px 24px 18px 24px;
    transition: 0.33s padding ease-out;
    /*mix-blend-mode: darken;*/
}

.button:hover{
    padding: 20px 28px 20px 28px;
    transition: 0.1s padding ease-out;
}

.blended{
    mix-blend-mode: hard-light;
    filter: blur(0.38px);
}
h1{
    font-size: 50px;
    margin: 100px 10px 0px 10px;
}
h3{
    font-size: 25px;
}
p{
    margin: 40px;
    font-size: 20px;
}
.centered{
    text-align: center;
}
.midmargin{
    margin-bottom: 40px;
}
.himargin{
    margin-bottom: 80px;
}
.nosel{
    user-select: none;
}


/* IMAGES */

.headback{
    background: url('../images/header.png') no-repeat center center; 
    background-size: 100% 100%; 
    min-height: 600px;
}

.paper{
    background: url('../images/paper.jpg');
    background-size: cover;
}

.happydrawing{
    background: url('../images/happydrawing.png') no-repeat center center; 
    background-size: cover;
    min-height: 300px;
}

.iadt{
    background: url('../images/iadt.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 250px;
}

.work1{
    background: url('../images/work1.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 500px;
}

.work2{
    background: url('../images/work2.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 500px;
}

.work3{
    background: url('../images/work3.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 500px;
}

.work4{
    background: url('../images/work4.jpg') no-repeat center center; 
    background-size: cover;
    min-height: 500px;
}